/***** BASE STYLES *****/
html {
    font-size: 16px;
}
body {
    color: #000000;
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    width: 100%;
}
header,
footer,
main {
    align-items: center;
    background: #d4e2da;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    width: 100%;
}
h1 {
    font-size: 1.25em;
}
h2 {
    font-size: 1em;
}
ul {
    list-style: none;
}
a {
    color: #558b6e;
    font-size: 1em;
    font-weight: bold;
    text-decoration: none;
}
p {
    font-size: 1em;
}
/***** HEADER *****/
header {
    padding: 5% 0 0 0;
}
#home {
    align-items: center;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    width: 90%;
}
#home h1 {
    color: #558b6e;
    font-family: 'Great Vibes', cursive;
    font-size: 1.5em;
}
#home img {
    padding: 0 5% 0 0;
    width: 10%;
}
img {
    width: 100%;
}
#home p {
    align-items: center;
    color: #704c5e;
    display: flex;
    flex-flow: row wrap;
    font-size: 1em;
}
#home nav {
    align-items: center;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    width: 60%;
}
#home nav ul {
    padding: 0;
}
#home nav ul li {
    display: block;
}
#home nav ul li a {
    color: #558b6e;
    font-family: 'Roboto', sans-serif;
    font-size: 1em;
    font-weight: bold;
    text-decoration: none;
    text-transform: uppercase;
}
/***** FOOTER *****/
footer {
    padding: 0 0 5% 0;
}
#contact {
    align-items: center;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    width: 90%;
}
.info,
.social {
    width: 45%;
}
.info h2,
.social h2 {
    color: #704c5e;
    font-size: 1em;
    font-weight: bold;
}
.info p,
.social ul {
    color: #704c5e;
}
.social h2 {
    align-items: center;
    display: flex;
    justify-content: flex-end;
    padding: 0 0 0 15%;
}
.social ul {
    align-items: center;
    display: flex;
    justify-content: flex-end;
    padding: 0 0 0 4%;
    width: 100%;
}
.social ul li {
    display: inline-block;
    padding: 0 0 0 10%;
}
.social ul li i {
    color: #558b6e;
    font-size: 1.5em;
}
/***** ABOUT *****/
main {
    padding: 5% 0 5% 0;
}
#about {
    align-items: center;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    padding: 0 0 5% 0;
}
#about h2 {
    color: #704c5e;
    width: 90%;
}
#about img {
    width: 90%;
}
img {
    width: 100%;
}
#about p {
    color: #704c5e;
    width: 90%;
}
/***** WORK *****/
#work {
    background: #f1c8db;
    padding: 5% 0 5% 0;
    width: 100%;
}
.photos {
    align-items: center;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}
.photos h2 {
    color: #558b6e;
    width: 90%;
}
img {
    width: 100%;
}
.photos p {
    color: #704c5e;
    font-size: 0.875em;
    width: 90%;
}
/***** TABLET *****/
@media (min-width: 768px) {
    /****** BASE STYLES *****/
    h1 {
      font-size: 2.5em;
    }
    h2, a {
      font-size: 1.5em;
    }
    p {
      font-size: 1em;
    }
    /***** HEADER *****/
    #home h1 {
        font-size: 2.5em;
    }
    #home img {
        width: 15%;
    }
    #home p {
        font-size: 1em;
        padding: 0 0 0 10%;
        width: 60%;
    }
    #home nav {

    }
    #home nav ul {
        padding: 0;
        width: 80%;
    }
    #home nav ul li {
        display: inline-block;
        padding: 0 0 0 5%;
    }
    #home nav ul li a {
        color: #558b6e;
        text-decoration: none;
        text-transform: uppercase;
    }
    /***** FOOTER *****/
    .info,
    .social {
        width: 45%;
    }
    .info h2,
    .social h2 {
        font-size: 1.5em;
    }
    .info p
    .social p {
        font-size: 1em;
        width: 100%;
    }
   .social ul {
        
    }
    .social ul li {
        padding: 0 0 0 5%;
    }
    .social ul li i {
        font-size: 2em;
    }
    /***** ABOUT *****/
    #about {
        align-items: center;
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        width: 90%;
    }
    #about img {
        font-size: 1em;
        width: 40%;
    }
    #about p {
        width: 40%;
    }
    /***** WORK *****/
    #work h2 {
        font-size: 1.5em;
    }
    .photos {
        align-items: center;
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        padding: 0 0 0 5%;
        width: 90%;
    }
    .photos .cap {
        width: 45%;
    }
    .photos .cap img {
        width: 100%
    }
    .photos .cap p {
        font-size: 1em;
    }
  }
  /***** DESKTOP *****/
  @media (min-width: 1200px) {
    /***** BASE STYLES *****/
    h1 {
      font-size: 3.5em;
    }
    h2, a {
      font-size: 2em;
    }
    p {
      font-size: 1.25em;
    }
    /***** HEADER, FOOTER *****/
    #home h1 {
        font-size: 3.5em;
    }
    #home p {
        font-size: 1.25em;
        padding: 0 0 0 35%;
        width: 60%;
    }
    #home nav {
        width: 60%;
    }
    #home nav ul {
        padding: 0;
    }
    #home nav ul li {
        display: inline-block;
        padding: 0 0 0 2%;
    }
    #home nav ul li a {
        font-size: 2em;
    }
    .info h2,
    .social h2 {
        font-size: 2em;
    }
    .info p {
        font-size: 1.25em;
    }
    .social ul {

    }
    .social ul li {

    }
    .social ul li i {
        font-size: 3em;
    }
    /***** ABOUT *****/
    #about p {
        font-size: 1.25em;
    }
    /***** WORK *****/
    .photos h2 {
        font-size: 2em;
    }
    .photos p {
        font-size: 1.25em;
    }
  }

